version: "3.7"

networks:
  mojaloop-net:
    name: mojaloop-net

services:
  reporting-hub-bop-settlements-ui:
    container_name: reporting-hub-bop-settlements-ui
    image: mojaloop/reporting-hub-bop-settlements-ui
    build:
      context: .
      cache_from:
        - mojaloop/reporting-hub-bop-settlements-ui
    environment:
      - CENTRAL_SETTLEMENTS_ENDPOINT=http://localhost:3008/
      - CENTRAL_LEDGER_ENDPOINT=http://localhost:3001/
    ports:
      - "8083:8083"
    networks:
      - mojaloop-net
    healthcheck:
      test: wget -q http://172.17.0.1:8083 -O /dev/null || exit 1
      timeout: 20s
      retries: 30
      interval: 15s
