.settlement-detail-positions__details-block {
  margin-right: 20px;
}

.settlement-detail-positions__dates-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.settlement-detail-positions__loader {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.settlement-detail-positions__list {
  margin: 10px;
}

.settlement-detail-positions__details-block__credit {
  color: #3c6;
}

.settlement-detail-positions__details-block__debit {
  color: #c33;
}

.settlement-detail-positions__list__debit.el-datalist__item-cell {
  color: #c33;
}

.settlement-detail-positions__list__credit.el-datalist__item-cell {
  color: #3c6;
}
