tr.settlement-state-item {
  height: 30px;
}

table.finalize-error-list {
  color: #3e3e3e;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}

table.finalize-error-list th,
table.finalize-error-list td {
  border-color: black;
  border-width: 0 1px 0 1px;
  border-style: solid;
  padding: 8px;
  text-align: left;
}

table.finalize-error-list caption {
  text-align: left;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 8px;
  text-transform: capitalize;
}

table.finalize-error-list thead {
  background-color: #3e3e3e;
  color: #eee;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: black;
}

table.finalize-error-list tbody tr:nth-child(odd) {
  background-color: white;
}

table.finalize-error-list tbody tr:nth-child(even) {
  background-color: #eee;
}

tr.settlement-state-item td:nth-child(1) {
  width: 30px;
}

br {
  display: block; /* makes it have a width */
  content: ''; /* clears default height */
  margin-top: 10px; /* change this to whatever height you want it */
}
